body {
  font-size: 20px;
}

.header {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.subtitle {
  margin: 1rem auto;
}

.search-section {
  width: 70%;
  margin: 2rem auto;
}

.locationEntry {
    background-color: #2BAD60;
    border-style: solid;
    margin: 3rem;
}

.spinner {
    display: flex;
    justifyContent: center;
    alignItrems: center;
}
